#overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  /* background-color: red; */
}

#the-svg-bg {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

#overlay #boat-owners:hover {
  fill: red;
}

svg {
  fill: rgba(0, 0, 0, 1);
  stroke-miterlimit: 10;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: .65px;
}

#blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  /* Apply the SVG mask */
  mask: url(#mask-boat-owners);
  mask-size: cover;
 
  -webkit-mask: url(#mask-boat-owners) no-repeat center;
  -webkit-mask-size: cover;
  
  /* Apply the blur effect to the backdrop */
  backdrop-filter: blur(2px);
  /* Ensure the overlay doesn't block interactions */
  pointer-events: none;
}