body {
  margin: 0;
  padding: 0;
}

#svg-container {
  position: relative;
  width: 100vw; 
  height: 40rem;
}

#overlay {
  object-fit: contain;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  /* background-color: red; */
}

#the-svg-bg {
  object-fit: contain;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

#blur-overlay {
  object-fit: contain;
  z-index: 100; 
  width: 100%;
  height: 100%;
  position: absolute;
  /* Apply the SVG mask */
  mask: url(#mask-boat-owners);
  
  
  /* Apply the blur effect to the backdrop */
  backdrop-filter: blur(2px);
  background-color: red;
  /* Ensure the overlay doesn't block interactions */
  pointer-events: none;
}

#overlay #boat-owners:hover {
  fill: red;
}

svg {
  fill: rgba(0, 0, 0, 1);
  stroke-miterlimit: 10;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: .65px;
}
